a:link {color:#b8d4b8;}
a:visited {color:#b8d4b8;}
a:hover {color:#ffffff;}
a:active {color:#b8d4b8;}
.Wp-Motman-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Normal-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Standaard-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Hyperlink-C
{
    font-family:"Verdana", sans-serif; color:#0000ff; text-decoration:underline;
}
.Wp-Standaard-alinealettertype-C
{
    font-family:"Verdana", sans-serif; color:#ffffff;
}
.Wp-long_text1-C
{
    font-family:"Verdana", sans-serif; color:#ffffff;
}